/*основний колір тексту  color: #757575;*/
/* колір заголовків color: #212121;   */
/* основний колір фону   background: #FFFFFF;  */
/* колір акценту color: #2196F3;*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
}

/*Header*/

/*Logo*/

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.white-logo {
  color: var(--primary-white-color);
}

.black-logo {
  color: #000000;
}

/*Site nav*/

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.site-nav .nav-link.current {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

/*Contacts*/

.head-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.head-link {
  color: #757575;
}

.head-link:hover,
.head-link:focus {
  color: var(--accent-color);
}

/*Hero*/

.hero {
  background: #2f303a;
  text-align: center;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/*Advantages*/

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/*Projects*/

.projects-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

/*Team*/

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.member-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

/*Footer*/

.footer-box {
  background: #2f303a;
}

.address-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
}

.foot-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

/*Portfolio*/

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-category {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
